@model mymusicstore.Models.Genre

@{
    ViewBag.Title = "Browse";
}

<h2>Browsing Genre @Model.Name</h2>
<ul>
    @foreach (var genre in @Model.Albums)
    {
        <li>@Html.ActionLink(@genre.Title, "Detail", new { id = @genre.AlbumId }); </li>
    }
</ul>